name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-build-run:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

     
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t ci-cd-demo .

      # 4️⃣ Run Docker container
      - name: Run Docker container
        run: |
          docker rm -f test-container || true
          docker run -d -p 3004:3004 --name test-container ci-cd-demo
          sleep 5

      # 5️⃣ Health check
      - name: Health check
        run: |
          for i in {1..5}; do
            curl http://localhost:3000 && break
            echo "Waiting for app..."
            sleep 3
          done
